/* header */
#nav .md-tabs-navigation {
  background-color: #fafafa;
}

/* swiper */
.swiper-slide {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;

  .md-button {
    display: inline-flex;
  }
}
