// swiper setting
.swiper {
  position: absolute;
  width: 300px;
  height: 420px;
  z-index: 1;
  overflow: visible;

  margin: auto;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 0;
  max-width: 520px;
  max-height: 580px;
}

.swiper-slide {
  p,
  span {
    word-break: break-all;
  }

  > {
    padding: 16px;
  }
}

// card
.card-container {
  color: #000 !important;
  background-color: #ffee33 !important;
  border: 8px solid #ffee33;
  position: relative;

  &.tokend {
    border-color: #9f6b34;
  }

  &.akebono {
    background-color: #f19072;
  }

  &.Benikakesora {
    background-color: #8491c3;
  }

  .token-id {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #9f6b34;
    font-weight: bold;
  }

  .stamp {
    position: absolute;
    width: 80px;
    height: auto;
    top: 8px;
    right: 8px;
    opacity: 0;
    animation: stamp 500ms ease-out forwards 1s;
  }

  @keyframes stamp {
    0% {
      opacity: 0.5;
      transform: scale(1.1) rotate(30deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) rotate(15deg);
    }
  }
}

.no-data-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chart {
  // background: url(/_nuxt/src/assets/img/unco.png);
  background: url(../../assets/img/unco.png);
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 16px 16px 0px;
  padding: 32px 8px 0px;
}

.ipfs-hash,
.eth-address {
  white-space: nowrap;
  font-size: 10px;
  width: 100%;
  overflow: hidden;
}

.new-nft-btn {
  transition: all 200ms ease-in;
  opacity: 1;
  position: absolute;
  top: 8px;
  right: 8px;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

// buttons
.slide-buttons {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 520px;
  text-align: center;

  .reverse {
    transform: rotate(180deg);
  }
}
